/* .book_now_btn {
    padding: 0 px 13 px;
    border: 2 px solid #ffb606;
    line-height: 34px;
} */
.explor_item .explor_text .explor_footer .pull-right .book_now_btn {
    padding: 0
px
 13
px
;
    border: 2
px
 solid #ffb606;
    line-height: 34px;
}